body{
    padding-top: 68px;
}

/*Footer*/

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  right:0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;

}

    .bg-img {
  /* The image used */
  background-image: url("img_nature.jpg");

  /* Control the height of the image */
  min-height: 850px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



/*Table*/

.table thead th {
     border-bottom:none; 
}

.table th {
     border-top:none; 
}


/*user-leave-info*/
.user-leave-info thead th
{
  border-right:4px solid #f5f7f7;
  text-align: center;
}

.user-leave-info thead #loss-of-pay
{
  border-right:none;
}
.user-leave-info tbody tr td
{
  border-top:none;
  text-align:center;
}


/*Holiday*/

.scrollit {
    overflow:scroll;
    height:600px;
    background: #e3dbd3;


}

table tbody .description
{
   position: relative;
   left:15px;
}

.Description
{
   position: relative;
   left:100px;
}

/*Holiday*/


.user-info {
  padding: 60px 0 40px 0;
}

.user-info .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  box-shadow: 0 8px 25px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.user-info .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*user profile*/


        .image-container {
            position: relative;
        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .image-container:hover .image {
            opacity: 0.3;
        }

        .image-container:hover .middle {
            opacity: 1;
        }







/*apply leave*/


.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

.box:hover {
  
  box-shadow:5px 10px 8px 10px #888888;
}



