{% extends 'base.html.twig' %}

{% block title %}Hello LandingPageController!{% endblock %}


 {% block stylesheets %}

<style>
#footer
{
	
	
}

</style>
{% endblock %}
{% block body %}
<div class="container">
	<div class="jumbotron">
	</div>
</div>

{% endblock %}
