
{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}


 {% block body_content %}


{# =============start user profile =========== #}
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="https://images.unsplash.com/photo-1578165219176-ece04edbd053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <div class="middle">
                                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                                    </div>
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">Some Name</a></h2>
                                    <h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>
                                    <h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active"  href="{{ path('edit_profile') }}">Edit</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Full Name</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                Jamshaid Kamran
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Birth Date</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                March 22, 1994.
                                            </div>
                                        </div>
                                        <hr />
                                        
                                        
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Something</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                Something
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Something</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                Something
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Something</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                Something
                                            </div>
                                        </div>
                                        <hr />

                                    </div>
                                    <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                        Facebook, Google, Twitter Account that are connected to this account
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>


{# =============end user profile =========== #}




 <section id="user-info" class="section-bg">
      <div class="container">

        <div class="row">

         
       <div class="col-md-6 col-lg-6  wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="box">
           <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>

                             <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>

              
          </div>

       </div>

       <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
                              <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>

                <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>
                              <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>

                <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>
                
               

            </div>
          </div>

            <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
                              <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>

                <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>
                  <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>
                  <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>

                             <p>
                This paragraph
                contains a lot of lines
                in the source code,
                but the browser
                ignores it.
                </p>

               

            </div>
          </div>

          

        </div>


      </div>


    </section>

{% endblock %}

{% block javascripts %}


{% endblock %}


